

/* ==========================================================================
   Brens custom styles
   ========================================================================== */


 body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #34495e; 
    background-color: #e8e8e8;
}


h2.section-heading {
  line-height: 150%;
  font-weight: 200;
}

.header-text {

	/*color: #669900; */
  font-size: 1.5em;
  color: #A3C737;
	text-align: left; 
  margin-bottom: 0px;
  margin-top: 15px;
  

}

h1.tagline {
  font-size: 1em; 
  font-weight: 200; 
  color: #7f8c8d;
  text-align: center;
}

h2.tagline {
   font-size: 1.3em; 
  font-weight: 200; 
  color: #7f8c8d;
}


.tagline-box {
  background-color: rgba(236, 240, 241,1);
  /*background:rgba(255,255,255, 0.9);
  background-color: rgba(236, 240, 241,0.9);
  background-color: rgba(44, 62, 80,0.95); */
	 font-size: 1em;
  color: #ecf0f1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

   -webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-ms-border-radius: 0 0 5px 5px;
-o-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
	
}

.bren-bg-color-1 {
  background-color: rgba(44, 62, 80,0.95);
}



.glyphicon-lg {
	font-size: 1.5em;
  color: rgba(255,255,255, 0.9);
  vertical-align: middle;
}

.header-bg-img {
  background: url("../inc/img/oftec_hetas_gassafe_trans2.png") ,#fff;
	/*background-image: url("../inc/img/copper-piping.jpg"); */
	
	background-size: 170px 100px, cover;
  background-repeat: no-repeat;
  background-position: 97% 2%;
  padding-top: 1px;
  padding-bottom: 20px;
}

.header-bg-img-xs{
  background-image: url("../inc/img/solar-panels-on-roof.jpg");
  min-height: 300px;
  background-size: cover;
}


/* background blur not used now.. it was not effective enough 

.blur-container > p {
  background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
  left: 0;
  right: 0;
  width: 95%;
  min-height: 140px;

  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);


}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;

*/

.header-img-wrapper {
  float: right;
  margin-top: 7px;
  margin-bottom: 3px;
}

.registered-logo {
  width: 150px;
  height: 100px;

}

.small-header-img {
  width: 100px;
  height: 70px;
}

.btn-lg {
  
  color: #fff;
  font-size: 0.7em;
 
}




.woodburner-bg-color {
  background-color: #FFB46C;

}

.heating-bg-color {
  background-color: #5FC073;

}

.plumbing-bg-color {
  background-color: #C2B49A;

}

.btn-woodburner {
 -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;

  }

  .btn-heating {
       -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;

 
  }

  .btn-plumbing {
       -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius:  0 0 0 0;

  }



.left-container {
  height: inherit;
  width: 170px;
  float: left;
  padding: 30px 10px;
  text-align: center;
  color: #fff;


 -webkit-border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-ms-border-radius: 5px 0 0 5px;
-o-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;

}


.left-container-services {
  height: 400px;
  width: 170px;
  float: left;
  padding: 30px 10px;
  text-align: center;
  color: #fff;


 -webkit-border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-ms-border-radius: 5px 0 0 5px;
-o-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;

}



.right-container {
  height: inherit;
  background-color: #fff;
  margin-left: 5px;
  overflow: auto;
  padding: 10px;
 
}

.right-container-services {

  overflow: auto;

}

/*CHANGES FOR ALL SCREENS EXCEPT EXTRA SMALL SCREENS */
@media (min-width: 768px) {

      body {
        padding-left: 50px;
      padding-right: 50px;
      margin-right: 0px;
      margin-left: 0px;
      }

      .header-bg-img {
      min-height: 330px;
    }

        .tagline {
      margin-top: 0;
    }

    .btn-woodburner {

      margin-top: 3px;
      }

      .btn-heating {

      margin-top: 3px; 
      margin-left:0; 
      margin-right: 0; 
      padding-left: 38px;
      padding-right: 39px;
      }

      .btn-plumbing {

      margin-top: 3px; 
      padding-left: 33px;
      padding-right: 33px;
      }


    /* ADDS ROUNDED CORNERS TO RIGHT HAND SIDE OF MAIN BOXES*/
    .right-container, .right-container-services {
      -webkit-border-radius: 0px 5px 5px 0px;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
    }

    .right-container-services {
      padding-right: 0px;
      padding-top: 0px;
       height: 400px;
       margin-bottom: 20px;

    }

    .service-container {
      padding:  20px 20px 20px 20px;

      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
    }


    .service-info-box {
      height: 400px;

    }

    .services-text-box {    
      padding-left: 20px;   
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
    }

    .area-safety-wrapper {
      height: 230px; 
      margin-bottom: 8px;
    }

    .btn-lg {
      margin-top: 0;
    }

    .service-well {
      margin-right: 50px;
      margin-bottom: 10px;
      padding: 10px 10px 10px 0;
    }

    .avoid-menubar {
      padding-top: 80px;
      margin-top: -80px;
}
}

/*CHANGES FOR ALL EXTRA SMALL SCREENS */

@media (max-width: 767px) {



      /* ADDS ROUNDED CORNERS TO ALL FOR CORNERS OF MAIN BOXES 
    FOR EXTRA SMALL SCREENS BECAUSE THE LEFT HAND COLOURED BOX
    IS REMOVED FOR EXTRA SMALL SCREENS TO GIVE MORE SPACE. THIS 
    LEAVES SQUARED CORNERS ON THE LEFT EDGE OF THE BOX. 
    SO CSS EVENS THE LOOK AND ADDS ROUNDED CORNERS TO THAT LEFT EDGE.*/
    .right-container {
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
    }

    body {
  
      padding-right: -20px;
    }

    .jumbotron {
      padding-left: 0px;
      padding-right: 0px;
    }

    .header-bg-img {
      min-height: 350px;
      background-position: 97% 12%;
    }

/*  THIS HELPS CENTER THE IMAGES ON XS SCREENS */
    .header-img-wrapper {
      margin-right: 5px;
    }

    .tagline {
      margin-top: 30px;
    }


    .btn-woodburner {
         
    }

    .btn-heating {
     
    margin-top: 3px; 
    margin-left:0; 
    margin-right: 0; 
    padding-left: 33px;
    padding-right: 33px;
    }

    .btn-plumbing {

    margin-top: 3px; 
    padding-left: 29px;
    padding-right: 29px;
    }

    .hide-img-xs {
      display: none !important;
    }

        .avoid-menubar {
      padding-top: 170px;
      margin-top: -170px;
}
    
    

     .left-container {
    display: none !important;
    }

    .right-container {
   
    margin-left: 0px;
    overflow: auto;
    padding: 2px;
    margin-top: 2px;
    }

    .left-container-services {
    display: none !important;
    }

    .right-container-services {
      padding-right: 0px;
      padding-top: 0px;
      padding-left: 0px;
      margin-bottom: 20px;
      overflow: auto;
    }


    .tagline-box {
      font-size: 0.8em;
      margin-left: 0px;
      margin-top: 58px;
      padding-top: 10px;

    }

    .header-text {
      display: none !important;
    }
    .services-text-box {
      padding-left: 0px;
    }

     .box-header-xs {
      padding: 10px; 
      margin-top: 0px;
      margin-bottom: 5px;
    }

    .service-box-header-xs {
      padding: 10px; 
      margin-top: 0px;
      margin-bottom: 0px;
     
    }

    .services-btn-wrapper {
      margin-left: 0px;
    }

     .area-safety-wrapper {
      height: 250px; 
      margin-bottom: 20px;
    }
    
    /* this helps remove signs of the well for xs screens without 
    removing the whole div itself. Without doing this the site can look
    a little stripey*/
    .service-well {
      background-image: none;
      border: none;
      background-color: inherit;
    }

    .btn-more-services {
      margin-bottom: 5px;
    }

    .web-message {
      display: none !important;
    }

    .btn-lg {
      font-size: 0.5em;
    }



}


.info-box-icon {
  font-size: 4em;
  margin-left: 23%;
  color: #fff;
  vertical-align: middle;
  
} 

.service-container {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  background-color: #fff;


}

.service-area-left {
  margin-left: 2px;
}


.btn-lg:hover {
  font-weight: 500;
  color: #fff;
}

.btn-block:hover {
  color: #fff;
  font-weight: 500;

}





#map_canvas {
        width: 500px;
        height: 500px;
      }



.safety-bg-img{
  background-image: url("../inc/img/oftec_hetas_gassafe_trans2.png");
  min-height: 150px;
  background-position: center;
  opacity:0.7;
  filter:alpha(opacity=60); /* For IE8 and earlier */

}

.woodburner-right-container{
  
  background-image: url('../inc/img/woodburner-and-logs.jpg');
  background-size: cover;



}

.heating-right-container{
  
  background-image: url('../inc/img/radiator-thermostat.jpg');
  background-size: cover;
}


.plumbing-right-container{
  
  background-image: url('../inc/img/industrial-boiler-room.jpg');
  background-size: cover;
}



.services-text-box {

  background-color: rgba(236, 240, 241,1);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1em;
 

}

.btn-more-services {
  background-color: #bdc3c7;
  margin-left: 15px;
  padding: 5px;
 line-height: 180%;
 color: inherit;
 box-shadow: 2px 2px 3px #7f8c8d;
  
}

.btn-bullet-1 {
   
  font-size: 2em; 
  margin-right: 5px; 
  float:left; 
  vertical-align: middle;
  
}


.btn-more-services:hover {
  color: #fff;
}

.btn-service-section {
  background-color: #bdc3c7;
  margin-left: 15px;
  padding: 5px;
 line-height: 180%;
 color: inherit;

  
}

.btn-bren-grey {
  background-color: #bdc3c7;
  padding: 5px;
 line-height: 180%;
 color: inherit;
 box-shadow: 2px 2px 3px #7f8c8d;
  
}

.btn-bren-darkgrey {
  background-color: #7f8c8d;
  padding: 5px;
 line-height: 180%;
 color: inherit;
 box-shadow: 2px 2px 3px #7f8c8d;
  
}


.contact-right-container {
  background-color: #fff;
  height: 300px;
}


.contact-bg-color {
  background-color: #bdc3c7;
}

.big-icon {
  font-size: 2.5em;
  margin-left: 10%;
  color: #fff;
  margin-right: 30px;
  line-height: 1.1;
}

.contact-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.1;
  margin-left: 30px;
  color: #7f8c8d; 
  padding-top: 15px
}

.about-text {
  min-height: 200px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.3;
  margin-left: 30px;
  color: #7f8c8d; 
  padding-top: 15px;
  padding-right: 15px;
  text-align: justify;
}




